#!/bin/bash

# Service control script for managing stuff around Dnsmasq.
#
# @author    Oktay Acikalin <oktay.acikalin@gmail.com>
# @copyright Oktay Acikalin
# @license   MIT (LICENSE.txt)

[ -z "$SERVICE_DIR" ] && SERVICE_DIR=$(readlink -f $(dirname $0))
[ -z "$BASE_DIR" ] && source "${SERVICE_DIR}/service.conf"

source "${SERVICE_ROOT_DIR}/lib/service.run_main.sh"
source "${SERVICE_ROOT_DIR}/lib/var.default.sh"
source "${SERVICE_ROOT_DIR}/etc/default/dnsmasq.sh"

SERVICE_LOG_FILE="${LOG_DIR}/dnsmasq.log"

DNSMASQ_CONF_FILE="$DNSMASQ_CONF_DIR/$DNSMASQ_CONF_NAME"

mkdir -p "${LIB_DIR}/dnsmasq"

cat > ${DNSMASQ_CONF} <<EOT
addn-hosts=$DNSMASQ_HOSTS
EOT


function main () {
    case "$COMMAND" in
        'install')
            [ ! -e "$DNSMASQ_CONF_FILE" ] && {
                sudo ln -sv "$DNSMASQ_CONF" "$DNSMASQ_CONF_FILE"
                sudo service dnsmasq force-reload
            } || {
                exit 97  # NOOP
            }
        ;;

        'uninstall')
            [ -e "$DNSMASQ_CONF_FILE" ] && {
                sudo rm -v "$DNSMASQ_CONF_FILE"
                sudo service dnsmasq force-reload
            } || {
                exit 98  # NOOP
            }
        ;;

        'reinstall')
            $0 uninstall
            RETVAL=$?
            if [ $RETVAL = 0 ] || [ $RETVAL = 98 ]; then
                $0 install
            else
                exit "$RETVAL"
            fi
        ;;

        'start')
            [ -e "$DNSMASQ_CONF_FILE" ] && {
                exit 97  # NOOP
            } || {
                $0 install
            }
        ;;

        'stop')
            exit 98  # NOOP
        ;;

        'restart')
            $0 stop
            RETVAL=$?
            if [ $RETVAL = 0 ] || [ $RETVAL = 98 ]; then
                $0 start
            else
                exit "$RETVAL"
            fi
        ;;

        'reload')
            [ -e "$DNSMASQ_CONF_FILE" ] && {
                sudo service dnsmasq force-reload
            } || {
                $0 install
            }
        ;;

        'NOOP')
            # NOOP
        ;;

        *)
            exit 99
        ;;
    esac
}


service.run_main
