#!/bin/bash

# Service control script for managing stuff around Magento.
#
# @author    Oktay Acikalin <oktay.acikalin@gmail.com>
# @copyright Oktay Acikalin
# @license   MIT (LICENSE.txt)

[ -z "$SERVICE_DIR" ] && SERVICE_DIR=$(readlink -f $(dirname $0))
[ -z "$BASE_DIR" ] && source "${SERVICE_DIR}/service.conf"

import "lib/service.run_main"
import "lib/var.default"

import "etc/default/magento"

SERVICE_LOG_DIR="${MAGENTO_HOME}/var/log"

function main () {
    case "$COMMAND" in
        'clear-cache')
            pushd "${MAGENTO_HOME}" > /dev/null
            magerun -q cache:flush
            popd > /dev/null
        ;;

        'clear-block-cache')
            pushd "${MAGENTO_HOME}" > /dev/null
            magerun -q cache:clean block_html,translate,layout,full_page
            popd > /dev/null
        ;;

        'disable-auto-migrations')
            pushd "${MAGENTO_HOME}" > /dev/null
            # TODO Write files into overlay folder which PHP will include on top.
            for file in ${MAGENTO_MIGRATION_FILES[@]}; do
                for command in ${MAGENTO_MIGRATION_COMMANDS[@]}; do
                    sed -e "s!^\(\s*\)${command}!\1// ${command}!g" -i "${MAGENTO_HOME}/${file}"
                done
            done
            popd > /dev/null
        ;;

        'enable-auto-migrations')
            pushd "${MAGENTO_HOME}" > /dev/null
            # TODO Write files into overlay folder which PHP will include on top.
            for file in ${MAGENTO_MIGRATION_FILES[@]}; do
                for command in ${MAGENTO_MIGRATION_COMMANDS[@]}; do
                    sed -e "s!^\(\s*\)// ${command}!\1${command}!g" -i "${MAGENTO_HOME}/${file}"
                done
            done
            popd > /dev/null
        ;;

        'migrate')
            pushd "${MAGENTO_HOME}" > /dev/null
            php $MAGENTO_SHELL_MIGRATE
            popd > /dev/null
        ;;

        'reindex')
            pushd "${MAGENTO_HOME}" > /dev/null
            php $MAGENTO_SHELL_INDEXER reindexall
            popd > /dev/null
        ;;

        'reindex-search')
            pushd "${MAGENTO_HOME}" > /dev/null
            php $MAGENTO_SHELL_INDEXER --reindex catalogsearch_fulltext
            popd > /dev/null
        ;;

        'run-cronjobs')
            pushd "${MAGENTO_HOME}" > /dev/null
            php $MAGENTO_CRON_PHP
            popd > /dev/null
        ;;

        'shell')
            pushd "${MAGENTO_HOME}" > /dev/null
            echo  # Put the prompt into a new line.
            magerun shell
            popd > /dev/null
        ;;

        'magerun')
            pushd "${MAGENTO_HOME}" > /dev/null
            echo  # Put the prompt into a new line.
            magerun "${@:2}"
            popd > /dev/null
        ;;

        'export-inline-translations')
            pushd "${MAGENTO_HOME}" > /dev/null
            php $MAGENTO_SHELL_EXPORT_TRANSLATIONS
            popd > /dev/null
        ;;

        'toggle-template-hints')
            pushd "${MAGENTO_HOME}" > /dev/null
            echo  # Put the prompt into a new line.
            magerun dev:template-hints
            magerun dev:template-hints-blocks
            magerun cache:clean block_html,full_page
            popd > /dev/null
        ;;

        'toggle-logs')
            pushd "${MAGENTO_HOME}" > /dev/null
            echo  # Put the prompt into a new line.
            magerun dev:log
            popd > /dev/null
        ;;

        # TODO implement enable/disable for these
        # "UPDATE core_cache_option SET value = '0';"
        # "UPDATE core_config_data SET value='0' WHERE path='dev/js/merge_files';"
        # "UPDATE core_config_data SET value='0' WHERE path='dev/css/merge_css_files';"
        # enable-template-hints, disable-template-hints
        # enable-logging, disable-logging

        'NOOP')
            # NOOP
        ;;
    esac
}


service.run_main "$@"
