#!/bin/bash

# Service control script for managing stuff around PHP FPM.
#
# @author    Oktay Acikalin <oktay.acikalin@gmail.com>
# @copyright Oktay Acikalin
# @license   MIT (LICENSE.txt)

[ -z "$SERVICE_DIR" ] && SERVICE_DIR=$(readlink -f $(dirname $0))
[ -z "$BASE_DIR" ] && . "${SERVICE_DIR}/service.conf"

[ -z "$PHP5_FPM_DAEMON" ] && PHP5_FPM_DAEMON="/usr/sbin/php5-fpm"
[ -z "$PHP5_FPM_PHP_CONFIG" ] && PHP5_FPM_PHP_CONFIG="/etc/php5/fpm/"
[ -z "$PHP5_FPM_CONFIG" ] && PHP5_FPM_CONFIG="${BASE_DIR}/etc/php5/fpm/php-fpm.conf"
[ -z "$PHP5_FPM_PID" ] && PHP5_FPM_PID="${PID_DIR}/php5-fpm.pid"

TIMEOUT=30

SERVICE_LOG_FILE="${LOG_DIR}/php5-fpm.log"

case "$1" in
    'disable-init-script')
        sudo sh -c 'echo "manual" > /etc/init/php5-fpm.override'
    ;;

    'enable-init-script')
        sudo rm '/etc/init/php5-fpm.override'
    ;;

    'start')
        start-stop-daemon --start --quiet --pidfile "${PHP5_FPM_PID}" --exec "${PHP5_FPM_DAEMON}" --test \
            || exit 97
        start-stop-daemon --start --quiet --pidfile "${PHP5_FPM_PID}" --exec "${PHP5_FPM_DAEMON}" -- \
            -c "${PHP5_FPM_PHP_CONFIG}" --fpm-config "${PHP5_FPM_CONFIG}" --prefix "${BASE_DIR}" \
            --pid "${PHP5_FPM_PID}" --daemonize \
            || exit 2
    ;;

    'stop')
        start-stop-daemon --stop --quiet --retry=QUIT/$TIMEOUT/TERM/5/KILL/5 --pidfile "${PHP5_FPM_PID}" \
            --name "php5-fpm"
        RETVAL="$?"
        [ "$RETVAL" = 2 ] && exit 2
        [ "$RETVAL" = 1 ] && exit 98
        start-stop-daemon --stop --quiet --oknodo --retry=0/30/TERM/5/KILL/5 --pidfile "${PHP5_FPM_PID}" \
            --exec "${PHP5_FPM_DAEMON}"
        [ "$?" = 2 ] && exit 2
        rm -f ${PHP5_FPM_PID}
        exit "$RETVAL"
    ;;

    'restart')
        $0 stop
        RETVAL=$?
        if [ $RETVAL = 0 ] || [ $RETVAL = 98 ]; then
            $0 start
        else
            exit "$RETVAL"
        fi
    ;;

    'reload')
        start-stop-daemon --stop --signal USR2 --quiet --pidfile "${PHP5_FPM_PID}" --name "php5-fpm"
    ;;

    'clear-cache')
        $0 restart
    ;;

    'NOOP')
        # NOOP
    ;;

    *)
        exit 99
    ;;
esac
