#!/bin/bash

# Service control script for managing stuff around the project itself.
#
# @author    Oktay Acikalin <oktay.acikalin@gmail.com>
# @copyright Oktay Acikalin
# @license   MIT (LICENSE.txt)

[ -z "$SERVICE_DIR" ] && SERVICE_DIR=$(readlink -f $(dirname $0))
[ -z "$BASE_DIR" ] && . "${SERVICE_DIR}/service.conf"

SERVICE_LOG_DIR="${LOG_DIR}"

case "$1" in
    'NOOP')
        # NOOP
    ;;

    *)
        exit 99
    ;;
esac
