#!/bin/bash

# Service control script for managing stuff around the project itself.
#
# @author    Oktay Acikalin <oktay.acikalin@gmail.com>
# @copyright Oktay Acikalin
# @license   MIT (LICENSE.txt)

[ -z "$SERVICE_DIR" ] && SERVICE_DIR=$(readlink -f $(dirname $0))
[ -z "$BASE_DIR" ] && source "${SERVICE_DIR}/service.conf"

source "${SERVICE_ROOT_DIR}/lib/service.run_main.sh"

SERVICE_LOG_DIR="${LOG_DIR}"


function main () {
    case "$COMMAND" in
        'NOOP')
            # NOOP
        ;;

        *)
            exit 99
        ;;
    esac
}


service.run_main "$@"
