[mysqld]
default_storage_engine = InnoDB
innodb_log_file_size = 50M
innodb_buffer_pool_size = 512M
innodb_additional_mem_pool_size = 2048M
innodb_log_buffer_size = 128M
innodb_file_per_table = 1
innodb_open_files = 400
innodb_io_capacity = 400
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2
binlog_format = MIXED
query_cache_limit = 64M
query_cache_size = 128M
sort_buffer_size = 256K
# read_rnd_buffer_size = 1M
tmp_table_size = 128M
max_heap_table_size = 128M
# table_cache = 800
key_buffer_size = 128M
join_buffer_size = 64M
table_open_cache = 400
myisam_sort_buffer_size = 512M
thread_handling = pool-of-threads
innodb_autoinc_lock_mode = 2
innodb_doublewrite = 0
