# Nginx server configuration for the CDN.
#
# @author    Oktay Acikalin <oktay.acikalin@gmail.com>
# @copyright Oktay Acikalin
# @license   MIT (LICENSE.txt)

# See http://nginx.com/resources/admin-guide/caching/
# See http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache
proxy_cache_path {{project_root}}/var/cache/nginx/cdn keys_zone=cdn:32m;

server {
    listen {{cdn_local_host}}:80;
    listen {{cdn_local_host}}:443 ssl spdy;
    server_name {{cdn_local_host}};

    ssl_certificate     {{project_root}}/etc/ssl/server.crt;
    ssl_certificate_key {{project_root}}/etc/ssl/server.key;

    access_log {{project_root}}/var/log/nginx/cdn[$host].access.log;
    error_log  {{project_root}}/var/log/nginx/cdn.error.log;

    {{#cdn_local_locations}}
    location {{.}} {
        root {{project_root}}/{{cdn_local_root}};
        try_files $uri @cdn;
    }
    {{/cdn_local_locations}}

    location / {
        error_page 599 = @cdn;
        return 599;
    }

    location @cdn {
        proxy_cache cdn;
        # proxy_cache_key "$host$request_uri$cookie_user";
        proxy_cache_valid 404 503 0;
        proxy_cache_use_stale  error timeout invalid_header updating
                               http_500 http_502 http_503 http_504;
        # proxy_cache_bypass $cookie_nocache $arg_nocache$arg_comment;
        # proxy_no_cache $http_pragma $http_authorization;

        proxy_set_header Host {{cdn_remote_hosts.first}};
        proxy_pass http://{{cdn_remote_hosts.first}};
    }

}
