# TODO
#
# @author    Oktay Acikalin <oktay.acikalin@gmail.com>
# @copyright Oktay Acikalin
# @license   MIT (LICENSE.txt)

# Multi domain configuration
# map $http_host $run_code {
#     {{#run_code_mapping}}
#     {{.}};
#     {{/run_code_mapping}}
# }
# map $http_host $country_code {
#     {{#country_code_mapping}}
#     {{.}};
#     {{/country_code_mapping}}
# }

server {
    listen {{domains.first}}:81;
    listen {{domains.first}}:443 ssl spdy;
    server_name{{#domains}} {{.}}{{/domains}};

    ssl_certificate     {{project_root}}/etc/ssl/server.crt;
    ssl_certificate_key {{project_root}}/etc/ssl/server.key;

    access_log {{project_root}}/var/log/nginx/magento.access.log;
    error_log  {{project_root}}/var/log/nginx/magento.error.log;

    root {{project_root}}/{{web_root}};

    # Enable these to rewrite CDN URLs to your local cache.
    # subs_filter_types text/css;
    # subs_filter {{cdn_host_remote}} {{cdn_host_local}};

    location / {
        index index.html index.php;
        try_files $uri $uri/ @handler;
        expires 30d;
    }

    location /app/                { deny all; }
    location /includes/           { deny all; }
    location /lib/                { deny all; }
    location /media/downloadable/ { deny all; }
    location /pkginfo/            { deny all; }
    location /report/config.xml   { deny all; }
    location /var/                { deny all; }

    location /var/export/ {
        autoindex            on;
    }

    location  /. {
        return 404;
    }

    location @handler {
        rewrite / /index.php;
    }

    location ~ .php/ {
        rewrite ^(.*.php)/ $1 last;
    }

    location /media/ {
        if (!-e $request_filename) { return 404; }
    }

    location /skin/ {
        if (!-e $request_filename) { return 404; }
    }

    location ~ .php$ {
        if (!-e $request_filename) { rewrite / /index.php last; }
        include {{project_root}}/etc/nginx/fastcgi.conf;

        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        # fastcgi_param MAGE_RUN_CODE $run_code;
        # fastcgi_param MAGE_RUN_TYPE website;
        # fastcgi_param MAGE_COUNTRY_CODE $country_code;

        fastcgi_pass unix:{{project_root}}/var/run/php5-fpm.sock;
        fastcgi_index index.php;
    }
}
