# TODO
#
# @author    Oktay Acikalin <oktay.acikalin@gmail.com>
# @copyright Oktay Acikalin
# @license   MIT (LICENSE.txt)

{{#use_run_code_mapping}}
map $http_host $run_code {
    {{#run_code_mapping}}
    {{.}};
    {{/run_code_mapping}}
}
{{/use_run_code_mapping}}

{{#use_country_code_mapping}}
map $http_host $country_code {
    {{#country_code_mapping}}
    {{.}};
    {{/country_code_mapping}}
}
{{/use_country_code_mapping}}

server {
    listen {{domains.first}}:81;
    listen {{domains.first}}:443 ssl spdy;
    server_name{{#domains}} {{.}}{{/domains}};

    ssl_certificate     {{project_root}}/etc/ssl/server.crt;
    ssl_certificate_key {{project_root}}/etc/ssl/server.key;

    access_log {{project_root}}/var/log/nginx/{{log_identifier}}[$host].access.log;
    error_log  {{project_root}}/var/log/nginx/{{log_identifier}}.error.log;

    root {{project_root}}/{{web_root}};

    {{! Use these to rewrite CDN URLs to your local cache. }}
    {{#use_cdn_rewrites}}
    subs_filter_types text/css;
    {{#cdn_remote_hosts}}
    subs_filter {{.}} {{cdn_local_host}};
    {{/cdn_remote_hosts}}
    {{/use_cdn_rewrites}}

    location / {
        index index.html index.php;
        try_files $uri $uri/ @handler;
        expires 30d;
    }

    {{#denied_locations}}
    location {{.}} { deny all; }
    {{/denied_locations}}

    location /var/export/ {
        autoindex            on;
    }

    location  /. {
        return 404;
    }

    location @handler {
        rewrite / /index.php;
    }

    location ~ .php/ {
        rewrite ^(.*.php)/ $1 last;
    }

    {{#has_dynamic_static_files}}
    location ~* \.(jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|mid|midi|wav|bmp|rtf)$ {
        try_files $uri =404;
        expires 2h;
    }
    {{/has_dynamic_static_files}}

    {{^has_dynamic_static_files}}
    location /media/ {
        if (!-e $request_filename) { return 404; }
    }

    location /skin/ {
        if (!-e $request_filename) { return 404; }
    }
    {{/has_dynamic_static_files}}

    location ~ .php$ {
        if (!-e $request_filename) { rewrite / /index.php last; }
        include {{project_root}}/etc/nginx/fastcgi.conf;

        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        {{#use_run_code_mapping}}
        fastcgi_param MAGE_RUN_CODE $run_code;
        fastcgi_param MAGE_RUN_TYPE {{run_type}};
        {{/use_run_code_mapping}}

        {{#use_country_code_mapping}}
        fastcgi_param MAGE_COUNTRY_CODE $country_code;
        {{/use_country_code_mapping}}

        {{#additional_fastcgi_params}}
        fastcgi_param {{key}} "{{value}}";
        {{/additional_fastcgi_params}}

        fastcgi_pass unix:{{project_root}}/var/run/php5-fpm.sock;
        fastcgi_index index.php;
    }
}
