# TODO
#
# @author    Oktay Acikalin <oktay.acikalin@gmail.com>
# @copyright Oktay Acikalin
# @license   MIT (LICENSE.txt)

server {
    listen {{domains.first}}:80;
    server_name{{#domains}} {{.}}{{/domains}};

    access_log {{project_root}}/var/log/nginx/varnish[$host].access.log;
    error_log  {{project_root}}/var/log/nginx/varnish.error.log;

    root {{project_root}}/{{web_root}};

    location / {
        proxy_pass {{varnish_host}};
    }

}
